.Frameprincipal {
    width: 644px; height: 811px; position: relative
  }
  
  .Fondo {
  width: 632px; height: 705px; left: 6px; top: 88px; position: absolute; background: #F361D3
  }
  
  .Botones {
    width: 200px; height: 46px; left: 420px; top: 189px; position: absolute
  }
  
  .Rectangle3 {
    width: 82px; height: 44px; left: 15px; top: 2px; position: absolute; background: #E23A9F
  }
  .let1{
    left: 46px; top: 10px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word
  }
  .let2{
    left: 142px; top: 10px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word
  }
  
  .boton1 {
    width: 82px; height: 44px; left: 15px; top: 2px; position: absolute; background: #E23A9F
  }
  .boton2 {
    width: 82px; height: 44px; left: 109px; top: 2px; position: absolute; background: #E23A9F
  }
.Imagen{
    padding-top: 4px; padding-bottom: 16px; left: 73px; top: 169px; position: absolute; justify-content: center; align-items: center; display: inline-flex
}  


  .Rectangle5 {
   width: 145px; height: 95px; background: #D9D9D9
  }
  
  .Juguete {
    height: 97px; padding-top: 35px; padding-bottom: 33px; padding-left: 16px; padding-right: 42px; left: 225px; top: 171px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex
  }
  
  .Terrneitor {
    color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word
  }
  
  .Total {
    width: 525px; height: 103px; left: 95px; top: 654px; position: absolute
  }
  
  .Rectangle6 {
    width: 309px; height: 71px; left: 204px; top: 13px; position: absolute; background: #D9D9D9
  }
  
  .CostoTotal1 {
    left: 16px; top: 34px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word
  }
  .CostoTotal2 {
   width: 181px; height: 37px; left: 294px; top: 38px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word
  }
  
  
  .Rectangle4 {
   width: 632px; height: 81px; left: 6px; top: 10px; position: absolute; background: #EE4BAD
  }
  
  .Jugueteria {
    left: 248px; top: 36px; position: absolute; color: #700057; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word
  }
  